// Custom styles.

.gitment-editor-submit {
  background: #1890ff !important;
  color: #fff !important;
}

.links-of-author-item {
  width: auto;
}

.links-of-author-item a, .links-of-author-item .exturl {
  max-width: 100%;
}
